<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Registration Form</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="(registerFormSubmit)"
          class="row g-3"
        >
          <div class="col-md-12">
            <label for="id_email" class="form-label">Email address</label>
            <input
              formControlName="email"
              [class.is-invalid]="email.touched && email.invalid"
              type="email"
              class="form-control"
              id="id_email"
            />
            <div *ngIf="email.invalid && email.touched">
              <div
                *ngIf="email.errors?.required"
                class="d-block invalid-feedback"
              >
                Please provide a Email.
              </div>
              <div *ngIf="email.errors?.email" class="d-block invalid-feedback">
                Email address is not valid
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="id_firstName" class="form-label">First name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="id_firstName"
              required
            />
            <div
              *ngIf="firstName.touched && firstName.errors?.required"
              class="d-block invalid-feedback"
            >
              Provide your first name.
            </div>
          </div>
          <div class="col-md-6">
            <label for="id_lastName" class="form-label">Last name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              id="id_lastName"
              required
            />
            <div
              *ngIf="lastName.touched && lastName.errors?.required"
              class="d-block invalid-feedback"
            >
              Provide your last name.
            </div>
          </div>

          <div class="col-md-12">
            <label for="id_Password" class="form-label">Password</label>
            <input
              formControlName="password"
              [class.is-invalid]="password.touched && password.invalid"
              type="password"
              class="form-control"
              id="id_Password"
            />
            <div
              *ngIf="password.touched && password.errors?.required"
              class="d-block invalid-feedback"
            >
              Provide a password.
            </div>
          </div>

          <div class="col-md-6 mt-4">
            <button
              [disabled]="registerForm.invalid"
              type="submit"
              (click)="registerFormSubmit()"
              class="btn btn-outline-danger"
              _ngcontent-fnr-c54=""
              type="button"
              data-bs-dismiss="modal"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
